@media screen and (min-width: 568px)
    .ui-title-bar-container {
        margin-top: 2.4rem;
        margin-bottom: 0;
    }

@media (max-width: 769px) and (min-width: 744px), (min-width: 984px)
    .ui-title-bar-container {
        padding-right: 3.2rem;
        padding-left: 3.2rem;
    }

@media (max-width: 769px) and (min-width: 490px), (min-width: 730px)
    .ui-title-bar-container {
        padding-right: 2rem;
        padding-left: 2rem;
    }

.ui-title-bar-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 99.8rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.ui-title-bar--separator {
    border-bottom: 1px solid #dfe3e8;
    padding-bottom: 0.8rem;
}

.ui-title-bar__navigation{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
}

.ui-annotated-section-container {
    margin: 1.6rem 0;
}


